<div class="navbar">
    <img src="https://compagnonsdutourdefrance.org/img/logo_ief.svg" alt="https://compagnonsdutourdefrance.org/">
    <div class="void"></div>
</div>

<div class="header">
    <div class="banner">
        <h1>Du bureau à l'atelier</h1>
    </div>
</div>

<div class="content">
    <div class="intro">
        <h2>La reconversion dans les métiers de l'artisanat</h2>
        <p><br>Se reconvertir est une décision difficile. Elle suppose de remettre en question sa carrière, ses années d'études, son confort financier. <br>Cependant, comme nous, beaucoup de français quitte chaque année leur emploi, parfois hautement lucratif, pour un métier d'artisanat.
        <br>Afin de comprendre les raisons qui poussent ces hommes et ces femmes à changer de vie, nous avons décider d'aller à leur recontre pour leur poser nos questions. Ce recueil de dialogues est le résultat de nos discussions avec eux. 
        </p>
        <p>
        Ce travail à bout but de faire le lien entre le métier de charpentier/contructeur bois que nous aspirons à pratiquer et le cours de Français.
        
        </p>
    </div>
    <div class="block">
        <div class="dialogue">
            <h3>Emma</h3>
            <p class="question">Pouvez-vous vous présenter succinctement?</p>
            <p>Je m'appelle Emma, j'ai 32 ans, je suis fiancée, architecte de formation et depuis peu ébéniste indépendante. </p>

            <p class="question">Combien d'années a durée votre carrière d'architecte?</p>
            <p>Voyons voir, ayant diplômée en 2012, j'ai quitté mon dernier poste en 2021, ce qui fait 9 ans.</p>

            <p class="question">Comment vous est venu le goût du travail du bois?</p>
            <p>Petite, je passais beaucoup de temps dans l’atelier de menuiserie de mon grand frère. J’adorais le regarder assembler ses oeuvres. Durant les vacances, je passais du temps avec lui, je l’assisté dans la fabrication de meubles qui sont encore dans la maison de nos parents aujourd’hui. 
            Je suis donc au contact du bois depuis longtemps. 
            En grandissant, j’avais perdue de vue l’artisanat. Mais ça m’est revenu durant mes études d’architecture. J’avais d'ailleurs orienté mon cursus sur la construction d’immeubles en bois ce qui semble se faire de plus en plus aujourd’hui. </p>

            <p class="question">Qu'est-ce qui a motivé votre décision de changer de voie? </p>
            <p>La liberté, sans doute. Le besoin de sortir de ma routine, surtout. Durant les trois dernières années je n’avais plus autant d’enthousiasme au travail. Je pense que j’avais besoin d’un changement radical. Je mettais enfermée dans une vie confortable mais qui ne m’apportait plus autant de satisfaction.</p>

            <p class="question">Pourquoi avoir choisie un métier artisanal?</p>
            <p>En tant qu'architecte, je jonglais constamment avec les contraintes, les règlementations.
            Je pense que j'ai voulu m'abstraire de tout cela. Retrouver l’aspect créatif que m’avait fait connaître mon frère. Je voulais retrouver la joie d’avoir fabriqué quelque chose de mes mains, de pouvoir le montrer à mes proches. Enfin vous voyez.</p>
            
            <p class="question">Depuis combien de temps murissiez vous ce projet?</p>
            <p>Je dois dire que tout s’est enchaîné très rapidement. 
            Le confinement à accéléré les choses.
            J’y songeais depuis quelques années mais je m’y suis vraiment attelée un an avant ma démission.</p>

            <p class="question">Comment ont réagi vos proches à cette annonce? </p>
            <p>J'ai reçu beaucoup de soutient de ma famille et de mes proches. C’est d’ailleurs grace à eux que j’ai eu le courage de faire le grand pas. 
            Ce n’est pas évident de remettre en question sa carrière, son confort pour une meilleure qualité de vie.</p>

            <p class="question">Aviez-vous des craintes quant à quitter un emploi rémunérateur pour une aventure entrepreneuriale sans garantie?</p>
            <p>Bien sûr. Il est vrai que j’étais tres bien payée dans mon précédent cabinet, cependant, j'ai la chance d'avoir une certaine sécurité financière grâce à mes investissements et à ma famille qui m’a toujours soutenu financièrement. 
            De plus, j’ai la chance d’avoir une maison qui m’appartient.</p>

            <p class="question">Comment êtes vous devenu ébéniste?</p>
            <p>J'ai passer un Cap ébénisterie en 1 an à l’Association Compagnonnique en apprentissage avec une entreprise proche de chez moi. 
            L'année est passée très rapidement. </p>
        </div>
        <div class="void"></div>
    </div>

    <div class="block">
        <div class="void"></div>
        <div class="dialogue">
            <h3>David</h3>
            <p class="question">Pouvez-vous vous présenter succinctement?</p>
            <p>Je m’appelle David, je viens tout juste de fêter mes 50 ans, je suis marié et j’ai deux fils et une fille. J’ai travaillé en tant qu’analyste financier pour des courtiers dans une grand banque française pendant 23 ans. 
            J’ai récemment entrepris ma reconversion dans la construction ossature bois.</p>

            <p class="question">Comment vous est venu le goût du travail du bois?</p>
            <p>J’ai toujours beaucoup bricolé que ce soit pour moi ou mes amis. 
            Le bois est de loin la matière que je préfère. </p>

            <p class="question">Qu'est-ce qui a motivé votre décision de changer de voie? </p>
            <p>L’envie de retrouver une forme de sérénité. 
            De me dépenser physiquement. 
            De quitter mon emploi et sa routine. 
            L’envie de gagner en liberté de décision. 
            Mais également, de ne plus voir ma croissance économique bridée par des seuils. 
            Le besoin d'échapper au stress, à la pression importante liées à mon poste précédent.</p>

            <p class="question">Depuis combien de temps murissiez vous ce projet?</p>
            <p>Environ trois ans.</p>

            <p class="question">Comment ont réagit vos proches à cette annonce? </p>
            <p>Ma femme et mes proches étaient très enthousiastes. 
            Ce sont eux qui au cours des années m’ont suggéré de monter mon entreprise après avoir vu quelques une de mes réalisations.</p>

            <p class="question">Aviez-vous des craintes de quitter un emploi rémunérateur pour une aventure entrepreneuriale sans garantie?</p>
            <p>Pas vraiment. M'étant préparé sur plusieurs années, j'ai pu prévoir et mettre de l'argent de côté. 
            L’argent n’est pas le moteur de ma reconversion.</p>

            <p class="question">Comment êtes vous devenu constructeur bois?</p>
            <p>Et bien je le deviens en ce moment même. 
            Je me forme en apprentissage au CAP Constructeur Bois de la Fédération Compagnonnique d’Arras.</p>

            <p class="question">Quel rôle à jouer le covid dans votre démarche?</p>
            <p>Le rôle de catalyseur. Les conditions de travail à distance imposé par le gouvernement couplées à l’explosion de notre activité m’a pratiquement mené au burn-out, ce qui m’a poussé à quitter mon emploi et, finalement, à me lancer.

            <p class="question">Que réalisera votre entreprise?</p>
            <p>Des extensions ossature bois, des carports, des cabanons, etc.</p>

            <p class="question">L’entrepreneuriat semble indissociable de votre désir de reconversion, est-ce le cas?</p>
            <p>Absolument.</p>
        </div>
    </div>
    
    <div class="block">
        <div class="dialogue">
            <h3>Pierre</h3>

            <p class="question">Bonjour, pourrais-tu répondre à quelques questions s’il te plait, pourrais-tu te présenter brièvement ?</p>

            <p>Bonjour, je m’appelle Pierre, j’ai actuellement 47 ans, je suis marié avec 2 enfants en bas âge. Je viens du domaine de l’informatique où j’étais développeur sénior.</p>

            <p class="question">Combien d’années as-tu passé en informatique ?</p>

            <p>J’y ai passé un total de 25 ans. Actuellement, je me suis reconverti dans les métiers du bois, et plus précisément, dans la charpente.</p>

            <p class="question">Depuis combien de temps t’es-tu reconverti ?</p>

            <p>Cela fait maintenant 3 années que j’ai réalisé cette reconversion. Cependant, il ne s’agit pas d’une reconversion à plein temps.</p>

            <p class="question">Peux-tu m’expliquer ce qui a motivé cette transition et m’expliquer en quoi consiste cette reconversion à temps partiel que tu viens d’évoquer.</p>

            <p>Pour en revenir à ta question, j’ai évoqué une reconversion à temps partiel car je n’ai pas entièrement quitté le monde de l’informatique. Lors de ma reconversion, j’ai également créé à côté de cela ma propre entreprise dans le conseil tout en travaillant en tant que charpentier.
            Et pour terminer de te répondre, j’ai enclenché ce changement de vie car j’éprouvais le besoin de me dépenser autre que dans une salle de sport, de rentrer chez moi le soir et d’avoir le sentiment d’avoir réalisé quelque chose de ma journée, d’avoir fait quelque chose de concret. Le grand inconvénient de mon ancien travail, c’est que je ne voyais pas le résultat fini, l’aboutissement de mon travail.</p>

            <p class="question">T’attendais-tu à certaines difficultés quand tu as lancé ton projet de vie, autrement dit, ta reconversion.</p>

            <p>Je m’attendais à m’habiller chaudement pour les températures basses. Cependant, j’avais sous-estimé la motivation qu’il me faudrait pour reprendre le travail après une pause.</p>

            <p class="question">Je pense connaître la réponse à ma question mais es-tu satisfait de ton changement de vie ?</p>

            <p>Bien évidemment que j’en suis satisfait, que je souhaite continuer sur cette voie, au-delà du travail, j’ai réussi à mettre en place un style de vie qui me correspond enfin.</p>



        </div>
        <div class="void"></div>
    </div>

    <div class="block">
        <div class="void"></div>
        <div class="dialogue">
            <h3>Anicet</h3>
<p class="question">Bonjour Anicet, merci de bien vouloir m’aider à la réalisation de ce projet. Pourrais-tu te présenter en quelques mots, s’il te plait?</p>

<p>Bonjour, je m’appelle donc Anicet, j’ai 38 ans et je suis actuellement célibataire. J’ai 2 chats et 3 aquariums quitte à tout débaler.</p>

<p class="question">Que faisais-tu avant d’entamer ta reconversion professionnelle ? Combien de temps es-tu resté dans ce domaine?</p>

<p>Avant de me reconvertir, j’étais employé dans la fonction publique en tant que conseiller d’orientation à la fac pour vulgariser le terme. J’ai occupé ce poste un total de 18 ans.</p>

<p class="question">Depuis combien de temps t’es-tu reconverti en tant qu’ébéniste?</p>

<p>Cela va bientôt faire 3 années maintenant mais il y a déjà un bon moment que je pensais à changer de métier.</p>

<p class="question">Qu’est-ce qui a motivé ce changement de voie après autant d’ancienneté?</p>

<p>Il y a eu plein de facteurs déterminants, le manque de travail, de valorisation, le fait d’être de plus en plus mis de côté. Au-delà de la fonction publique, j’ai toujours travaillé le bois, que ce soit pour les travaux que j’ai réalisés chez moi ou des connaissances, les gros chantiers ne m’ont jamais fait peur. Je souhaitais aussi créer ma propre entreprise afin de faire enfin ce qui me plait.
Une autre motivation a été la disparition d’une hiérarchie à laquelle se plier, le fait de pouvoir faire ses propres choix et de pouvoir accepter ou non tel ou tel travail.
L’aspect financier ne m’importe pas même s’il a fallu que je me prépare, je préfère faire un travail qui me plaît plutôt que de subir des pressions inutiles et ne pas être épanouit.</p>

<p class="question">A t’écouter, je comprends que ce changement t’était nécessaire. Néanmoins, je me demande si tu appréhendais ce changement radical de vie, si tu appréhendais certaines difficultés.</p>

<p>Pas du tout, même si je me suis ramolli à être assit derrière un bureau pendant trop longtemps, je m’attendais même à un rythme de travail plus stressant.
La seule difficulté que j’ai, est que je n’ai pas encore de permis de conduire donc les changements avec déplacement sont délicats pour l’instant.</p>

<p class="question">Je te remercie pour ton temps, j’ai toutefois une dernière question pour toi. Es-tu satisfait de cette reconversion? Ferais-tu certaines choses différemment?</p>

<p>Bien sûr que je suis satisfait de ma vie actuelle, je me sens mieux, je vis mieux. Effectivement, si je devais recommencer et faire certaines choses différemment, je préparerais en amont tous les documents administratifs nécessaires, mon fichier client ainsi que mes prestations.
Je t’en prie, ça me fait plaisir de pouvoir t’aider.</p>
        </div>
    </div>
</div>
<div class="ending">
    <p class="question">Nous remercions Emma, David, Pierre et Anicet d'avoir pris le temps de répondre à nos questions.</p>
</div>
<div class="footer">
    <p>Réalisé par Bastian Brenner et Jason Vanhalwyn à l'occasion de la production du chef d'œuvre de fin de CAP Constructeur Bois.</p>
</div>
