<div class="navbar">
    <img src="https://compagnonsdutourdefrance.org/img/logo_ief.svg" alt="https://compagnonsdutourdefrance.org/">
    <div class="void"></div>
</div>

<div class="header">
    <div class="banner">
        <h1>Du bureau à l'atelier</h1>
    </div>
</div>

<div class="content">
    <div class="intro">
        <h2>La reconversion dans les métiers de l'artisanat</h2>
        <p><br>Se reconvertir est une décision difficile. Elle suppose de remettre en question sa carrière, ses années d'études, son confort financier. Cependant, comme nous, beacoup de français quitte chaque année leur emploi parfois hautement lucratif pour un métier d'artisanat.
        Afin de comprendre les raisons qui poussent ces hommes et ces femmes à changer de vie, nous avons décider d'aller à leur recontre pour leur poser nos questions. Ce recueil de dialogues est le résultat de nos discussions avec eux. 
        </p>
        <p>
        Ce travail à bout but de faire le lien entre le métier de charpentier/contructeur bois que nous aspirons à pratiquer et le cours de Français.
        
        </p>
    </div>
    <div class="block">
        <div class="dialogue">
            <h3>Emma</h3>
            <p class="question">Pouvez-vous vous présenter succinctement?</p>
            <p>Je m'appelle Emma, j'ai 32 ans, je suis fiancée, architecte de formation et depuis peu ébéniste indépendante. </p>

            <p class="question">Combien d'années a durée votre carrière d'architecte?</p>
            <p>Voyons voir, ayant diplômée en 2012, j'ai quitté mon dernier poste en 2021, ce qui fait 9 ans.</p>

            <p class="question">Comment vous est venu le goût du travail du bois?</p>
            <p>Petite, je passais beaucoup de temps dans l’atelier de menuiserie de mon grand frère. J’adorais le regarder assembler ses oeuvres. Durant les vacances, je passais du temps avec lui, je l’assisté dans la fabrication de meubles qui sont encore dans la maison de nos parents aujourd’hui. 
            Je suis donc au contact du bois depuis longtemps. 
            En grandissant, j’avais perdu de vue l’artisanat. Mais ça m’est revenu durant mes études d’architecture. J’avais d'ailleurs orienté mon cursus sur la construction d’immeubles en bois ce qui semble se faire de plus en plus aujourd’hui. </p>

            <p class="question">Qu'est-ce qui a motivé votre décision de changer de voie? </p>
            <p>La liberté, sans doute. Le besoin de sortir de ma routine surtout. Durant les trois dernières années je n’avais plus autant d’enthousiasme au travail. Je pense que j’avais besoin d’un changement radical. Je mettais enfermée dans une vie confortable mais qui ne m’apportait plus autant de satisfaction.</p>

            <p class="question">Pourquoi avoir choisie un métier artisanal?</p>
            <p>En tant qu'architecte, je jonglais constamment avec les contraintes, les règlementations.
            Je pense que j'ai voulu m'abstraire de tout cela. Retrouver l’aspect créatif que m’avait fait connaître mon frère. Je voulais retrouver la joie d’avoir fabriqué quelque chose de mes mains, de pouvoir le montrer à mes proches. Enfin vous voyez.</p>
            
            <p class="question">Depuis combien de temps murissiez vous ce projet?</p>
            <p>Je dois dire que tout s’est enchaîné très rapidement. 
            Le confinement à accéléré les choses.
            J’y songeais depuis quelques années mais je m’y suis vraiment attelée un an avant ma démission.</p>

            <p class="question">Comment ont réagi vos proches à cette annonce? </p>
            <p>J'ai reçu beaucoup de soutient de ma famille et de mes proches. C’est d’ailleurs grace à eux que j’ai eu le courage de faire le grand pas. 
            Ce n’est pas évident de remettre en question sa carrière, son confort pour une meilleure qualité de vie.</p>

            <p class="question">Aviez-vous des craintes quant à quitter un emploi rémunérateur pour une aventure entrepreneuriale sans garantie?</p>
            <p>Bien sûr. Il est vrai que j’étais tres bien payée dans mon précédent cabinet, cependant, j'ai la chance d'avoir une certaine sécurité financière grâce à mes investissements et à ma famille qui m’a toujours soutenu financièrement. 
            De plus, j’ai la chance d’avoir une maison qui m’appartient.</p>

            <p class="question">Comment êtes vous devenu ébéniste?</p>
            <p>J'ai passer un Cap ébénisterie en 1 an à l’Association Compagnonnique en apprentissage avec une entreprise proche de chez moi. 
            L'année est passée très rapidement. </p>
        </div>
        <div class="void"></div>
    </div>

    <div class="block">
        <div class="void"></div>
        <div class="dialogue">
            <h3>David</h3>
            <p class="question">Pouvez-vous vous présenter succinctement?</p>
            <p>Je m’appelle David, je viens tout juste de fêter mes 50 ans, je suis marié et j’ai deux fils et une fille. J’ai travaillé en tant qu’analyste financier pour des courtiers dans une grand banque française pendant 23 ans. 
            J’ai récemment entrepris ma reconversion dans la construction ossature bois.</p>

            <p class="question">Comment vous est venu le goût du travail du bois?</p>
            <p>J’ai toujours beaucoup bricolé que ce soit pour moi ou mes amis. 
            Le bois est de loin la matière que je préfère. </p>

            <p class="question">Qu'est-ce qui a motivé votre décision de changer de voie? </p>
            <p>L’envie de retrouver une forme de sérénité. 
            De me dépenser physiquement. 
            De quitter mon emploi et sa routine. 
            L’envie de gagner en liberté de décision. 
            Mais également, de ne plus voir ma croissance économique bridée par des seuils. 
            Le besoin d'échapper au stress, à la pression importante liées à mon poste précédent.</p>

            <p class="question">Depuis combien de temps murissiez vous ce projet?</p>
            <p>Environ trois ans.</p>

            <p class="question">Comment ont réagit vos proches à cette annonce? </p>
            <p>Ma femme et mes proches étaient très enthousiastes. 
            Ce sont eux qui au cours des années m’ont suggéré de monter mon entreprise après avoir vu quelques une de mes réalisations.</p>

            <p class="question">Aviez-vous des craintes de quitter un emploi rémunérateur pour une aventure entrepreneuriale sans garantie?</p>
            <p>Pas vraiment. M'étant préparé sur plusieurs années, j'ai pu prévoir et mettre de l'argent de côté. 
            L’argent n’est pas le moteur de ma reconversion.</p>

            <p class="question">Comment êtes vous devenu constructeur bois?</p>
            <p>Et bien je le deviens en ce moment même. 
            Je me forme en apprentissage au CAP Constructeur Bois de la Fédération Compagnonnique d’Arras.</p>

            <p class="question">Quel rôle à jouer le covid dans votre démarche?</p>
            <p>Le rôle de catalyseur. Les conditions de travail à distance imposé par le gouvernement couplées à l’explosion de notre activité m’a pratiquement mené au burn-out, ce qui m’a poussé à quitter mon emploi et, finalement, à me lancer.

            <p class="question">Que réalisera votre entreprise?</p>
            <p>Des extensions ossature bois, des carports, des cabanons, etc.</p>

            <p class="question">L’entrepreneuriat semble indissociable de votre désir de reconversion, est-ce le cas?</p>
            <p>Absolument.</p>
        </div>
    </div>
    
    <div class="block">
        <div class="dialogue">
            <h3>Pierre</h3>
            <p class="question">Pouvez-vous vous présenter succinctement?</p>
            <p>Je m’appelle Pierre. J’ai 47 ans. 
            Je suis marié, j’ai deux enfants en bas âge. 
            J’ai fait carrière dans le développement informatique au terme de laquelle j’ai terminé développeur senior. 
            Ma vie professionnelle est aujourd’hui décomposée en deux activités distinctes: mon entreprise de conseil en informatique et mon emploi mi-temps de charpentier. </p>

            <p class="question">Qu'est-ce qui a motivé votre décision de changer de voie? </p>
            <p>L’envie de changement, d’ajouter quelque chose à ma vie. 
            Après 25 ans de travail de bureau, j’avais besoin de mobilité. 
            La frustration première de mon travail était de ne jamais m'inscrire dans la globalité des projets auquels je participais. 
            A présent, je veux voir l’aboutissement de ce pourquoi je travaille car c’est ce qui m’apporte de la satisfaction.</p>

            <p class="question">Depuis combien de temps murissiez vous ce projet?</p>
            <p>Cela faisait 2 ans que je nourrissait l’idée.</p>

            <p class="question">Comment ont réagit vos proches à cette annonce? </p>
            <p>Disons qu'ils étaient étonnés.</p>

            <p class="question">Aviez-vous des craintes de quitter un emploi rémunérateur pour une aventure entrepreneuriale sans garantie?</p>
            <p>Comme je vous l’ai dit, j’ai en parallèle mon activité de conseil, j’ai donc une autre source de revenue sans laquelle il m'aurais été impossible d'aller au boût de cette reconversion partielle.</p>

            <p class="question">Comment êtes vous devenu constructeur bois/charpentier?</p>
            <p>J’ai fait un CAP charpentier dans un CFA proche de chez moi, puis mon apprentissage dans l’entreprise dans laquelle je suis embauché actuellement.</p>

            <p class="question">Quel rôle à jouer le covid dans votre démarche?</p>
            <p>Aucun.
            Mais vivement que cela finisse tout de même.</p>

            <p class="question">Compter vous lancer une entreprise de charpente?</p>
            <p>Non, je ne pense pas. En revanche, je vais certainement me construire mon propre atelier. Je pense poursuivre sur de l’ébénisterie, pour le plaisir.</p>
        </div>
        <div class="void"></div>
    </div>

    <div class="block">
        <div class="void"></div>
        <div class="dialogue">
            <h3>Anicet</h3>
            <p class="question">Pouvez-vous vous présenter succinctement?</p>
            <p>Je m’appelle Anicet, j’ai 38 ans et j’ai deux chats et 3 poissons. 
            J’ai été conseillé d’orientation dans la fonction publique sur Paris pendant 18 ans. </p>

            <p>Qu'est-ce qui a motivé votre décision de changer de voie? </p>
            <p>Je voulais quitter mon emploi. Travaillant le bois depuis longtemps, j'ai décidé de devenir ébéniste indépendant.
            Cela me semblait la meilleure chose à faire pour générer un revenu convenable sans reprendre une formation. 
            J’avais besoin de changer de vie. Voilà qui est fait.</p>

            <p class="question">Comment vous est venu le goût du travail du bois?</p>
            <p>En le pratiquant. Je bricole depuis une quinzaine d'années. Chaque weekend, j'avance sur des projets pour ma maison ou celle de mes proches. 
            Le bois est incontournable. Avec le temps j'ai pu me constituer un atelier qui n'a rien à envier à un atelier professionnel.</p>

            <p class="question">Depuis combien de temps murissiez vous ce projet?</p>
            <p>Environ un an avant ma démission. 
            Cela fait maintenant trois ans que je suis à mon compte.</p>

            <p class="question">Aviez-vous des craintes de quitter un emploi rémunérateur pour une aventure entrepreneuriale sans garantie?</p>
            <p>J’avais surtout peur de ne pas trouver suffisamment de clients pour vivre convenablement sur Paris. 
            Mais tous s’est bien passé, la demande est si forte. 
            Aujourd’hui, j’ai la chance d'avoirs des clients réguliers, ce qui m’assurent une régularité de revenus.</p>

            <p class="question">Comment êtes vous devenu ébéniste?</p>
            <p>Je suis autodidacte. Je n’ai pas le CAP, mais puisque je suis auto-entrepreneur cela ne pose pas de problème.</p>

            <p class="question">Quel rôle à jouer le covid dans votre démarche?</p>
            <p>Il m’a fait perdre de l’argent mais les choses s’améliorent.</p>
        </div>
    </div>
</div>
<div class="ending">
    <p class="question">Nous remercions Emma, David, Pierre et Anicet d'avoir pris le temps de répondre à nos questions.</p>
</div>
<div class="footer">
    <p>Réalisé par Bastian Brenner et Jason Vanhalwyn à l'occasion de la production du chef d'œuvre de fin de CAP Constructeur Bois.</p>
</div>
