<div class="navbar">
    <img src="https://compagnonsdutourdefrance.org/img/logo_ief.svg" alt="https://compagnonsdutourdefrance.org/">
    <div class="void"></div>
</div>

<div class="header">
    <div class="banner">
        <h1>Du bureau à l'atelier</h1>
    </div>
</div>

<div class="content">
    <div class="intro">
        <h2>La reconversion dans les métiers de l'artisanat</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque urna dui, efficitur sit amet dolor id, cursus rutrum neque. Duis imperdiet est eu molestie molestie. Sed sed nulla urna. Sed convallis lacus ac tortor varius ullamcorper. Vestibulum ullamcorper, dolor a convallis auctor, sem mauris facilisis dui, non egestas velit ex ac eros. Quisque efficitur mauris vitae ipsum rutrum sollicitudin. Suspendisse tincidunt, ante quis feugiat tempor, augue risus ultrices sem, at vestibulum nibh nisi ut purus. Phasellus sed blandit nulla. Cras efficitur mauris ligula, a sagittis sapien pulvinar et. Ut ac cursus odio. Cras pellentesque turpis eget facilisis cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non cursus leo, in molestie erat.</p>
    </div>
    <div class="block">
        <div class="dialogue">
            <h3>Emma</h3>
            <p class="question">Pouvez-vous vous présenter succinctement?</p>
            <p>Je m'appelle Emma, j'ai 32 ans, je suis fiancée, architecte de formation et depuis peu ébéniste indépendante. </p>

            <p class="question">Combien d'années a durée votre carrière d'architecte?</p>
            <p>Voyons voir, ayant diplômée en 2012, j'ai quitté mon dernier poste en 2021, ce qui fait 9 ans.</p>

            <p class="question">Comment vous est venu le goût du travail du bois?</p>
            <p>Petite, je passais beaucoup de temps dans l’atelier de menuiserie de mon grand frère. J’adorais le regarder assembler ses oeuvres. Durant les vacances, je passais du temps avec lui, je l’assisté dans la fabrication de meubles qui sont encore dans la maison de nos parents aujourd’hui. 
            Je suis donc au contact du bois depuis longtemps. 
            En grandissant, j’avais perdu de vue l’artisanat. Mais ça m’est revenu durant mes études d’architecture. J’avais d'ailleurs orienté mon cursus sur la construction d’immeubles en bois ce qui semble se faire de plus en plus aujourd’hui. </p>

            <p class="question">Qu'est-ce qui a motivé votre décision de changer de voie? </p>
            <p>La liberté, sans doute. Le besoin de sortir de ma routine surtout. Durant les trois dernières années je n’avais plus autant d’enthousiasme au travail. Je pense que j’avais besoin d’un changement radical. Je mettais enfermée dans une vie confortable mais qui ne m’apportait plus autant de satisfaction.</p>

            <p class="question">Pourquoi avoir choisie un métier artisanal?</p>
            <p>En tant qu'architecte, je jonglais constamment avec les contraintes, les règlementations.
            Je pense que j'ai voulu m'abstraire de tout cela. Retrouver l’aspect créatif que m’avait fait connaître mon frère. Je voulais retrouver la joie d’avoir fabriqué quelque chose de mes mains, de pouvoir le montrer à mes proches. Enfin vous voyez.</p>
            
            <p class="question">Depuis combien de temps murissiez vous ce projet?</p>
            <p>Je dois dire que tout s’est enchaîné très rapidement. 
            Le confinement à accéléré les choses.
            J’y songeais depuis quelques années mais je m’y suis vraiment attelée un an avant ma démission.</p>

            <p class="question">Comment ont réagi vos proches à cette annonce? </p>
            <p>J'ai reçu beaucoup de soutient de ma famille et de mes proches. C’est d’ailleurs grace à eux que j’ai eu le courage de faire le grand pas. 
            Ce n’est pas évident de remettre en question sa carrière, son confort pour une meilleure qualité de vie.</p>

            <p class="question">Aviez-vous des craintes quant à quitter un emploi rémunérateur pour une aventure entrepreneuriale sans garantie?</p>
            <p>Bien sûr. Il est vrai que j’étais tres bien payée dans mon précédent cabinet, cependant, j'ai la chance d'avoir une certaine sécurité financière grâce à mes investissements et à ma famille qui m’a toujours soutenu financièrement. 
            De plus, j’ai la chance d’avoir une maison qui m’appartient.</p>


            <p class="question">Devenir ébéniste n'a pas été pour moi une tentative de gagner plus d'argent. </p>
            <p>Bien sur le but est tout de meme de créer une entreprise profitable mais l'argent n'est pas ma motivation.</p>

            <p class="question">Comment êtes vous devenu ébéniste?</p>
            <p>J'ai passer un Cap ébénisterie en 1 an à l’Association Compagnonnique en apprentissage avec une entreprise proche de chez moi. 
            L'année est passée très rapidement. 
            J'ai beaucoup appris.</p>
        </div>
        <div class="void"></div>
    </div>

    <div class="block">
        <div class="void"></div>
        <div class="dialogue">
            <h3>David</h3>
            <p class="question">Pouvez-vous vous présenter succinctement?</p>
            <p>Je m’appelle David, je viens tout juste de fêter mes 50 ans, je suis marié et j’ai deux fils et une fille. J’ai travaillé en tant qu’analyste financier pour des courtiers dans une grand banque française pendant 23 ans. 
            J’ai récemment entrepris ma reconversion dans la construction bois.</p>

            <p class="question">Comment vous est venu le goût du travail du bois?</p>
            <p>J’ai toujours beaucoup bricolé que ce soit pour moi ou mes amis. 
            Le bois est de loin la matière que je préfère. </p>

            <p class="question">Qu'est-ce qui a motivé votre décision de changer de voie? </p>
            <p>L’envie de retrouver une forme de sérénité. 
            De me dépenser physiquement. 
            De quitter mon emploi et sa routine. 
            L’envie de gagner en liberté de décision. 
            Mais également, de ne plus voir ma croissance économique bridée par des seuils. 
            Echapper au stress, à la pression importante liées à mon poste précédent.</p>

            <p class="question">Depuis combien de temps murissiez vous ce projet?</p>
            <p>Cette décision a fait un long bout de chemin avant d’être réalisée. 
            Cela fait en effet plus de 3 ans que je me prépare.  
            Loin d’être un coup de tête.</p>

            <p>Comment ont réagit vos proches à cette annonce? </p>
            <p>Ma femme et mes proches sont très enthousiastes. 
            Ce sont eux qui au cours des années m’ont suggérer de monter mon entreprise après avoir vu les résultats de mes travaux.</p>

            <p class="question">Aviez-vous des craintes de quitter un emploi rémunérateur pour une aventure entrepreneuriale sans garantie?</p>
            <p>Non, car je me suis préparé. 
            Sachant que j’allais un jour quitter mon emploi, j’ai mis de l’argent de côté et commencé à étudier la situation économique des premières années d’auto-entreprise.
            Je peux tenir plusieurs années, le temps nécessaire pour que mon entreprise devienne profitable.

            Je ne pense pas gagner autant en tant que constructeur bois indépendant qu’en tant que banquier pendant un moment et cela me convient ainsi, l’argent n’est pas le moteur de ma reconversion.</p>

            <p class="question">Comment êtes vous devenu constructeur bois/charpentier?</p>
            <p>Et bien je le deviens en ce moment même. 
            Je me forme en apprentissage au CAP Constructeur Bois de la Fédération Compagnonnique d’Arras.</p>

            <p class="question">Quel rôle à jouer le covid dans votre démarche?</p>
            <p>Le rôle de catalyseur. Les conditions de travail à distance imposé par le gouvernement couplées à l’explosion de notre activité m’a pratiquement mené au burn-out, ce qui m’a poussé à quitter mon emploi et a me lancer.

            <p class="question">Que réalisera votre entreprise?</p>
            <p>Des extensions ossature bois, des carports, des cabanons, etc. 
            En bref, du gros oeuvre en bois teinté d’une sensibilité écologique.</p>

            <p class="question">L’entrepreneuriat semble indissociable de votre désir de reconversion, est-ce le cas?</p>
            <p>Absolument.</p>
        </div>
    </div>
    
    <div class="block">
        <div class="dialogue">
            <h3>Pierre</h3>
            <p class="question">Pouvez-vous vous présenter succinctement?</p>
            <p>Je m’appelle Pierre. J’ai 47 ans. 
            Je suis marié, j’ai deux enfants en bas âge. 
            J’ai fait carrière dans le développement informatique au terme de laquelle j’ai terminé développeur senior. 
            Ma vie professionnelle est aujourd’hui décomposée en deux activités distinctes: mon entreprise de conseil en informatique et mon emploi mi-temps de charpentier. </p>

            <p class="question">Qu'est-ce qui a motivé votre décision de changer de voie? </p>
            <p>L’envie de changement, d’ajouter quelque chose à ma vie. 
            Après 25 ans de travail de bureau, j’avais besoin de mobilité. 
            La frustration première de mon travail était de ne jamais comprendre la globalité des projets sur lesquels je travaillais. 
            A présent, je veux voir l’aboutissement de ce pourquoi je travail car c’est cela qui m’apporte de la satisfaction.</p>

            <p class="question">Depuis combien de temps murissiez vous ce projet?</p>
            <p>J’ai commencé mon apprentissage il y a deux ans. 
            Cela faisait déjà 2 ans que je nourrissait l’idée.</p>

            <p class="question">Comment ont réagit vos proches à cette annonce? </p>
            <p>Ils étaient étonnés.</p>

            <p class="question">Aviez-vous des craintes de quitter un emploi rémunérateur pour une aventure entrepreneuriale sans garantie?</p>
            <p>Comme je vous l’ai dit, j’ai en parallèles mon activité de conseil, j’ai donc une autre source de revenue sans laquelle je n’aurait pas pu aller au bout de cette reconversion partielle.</p>

            <p class="question">Comment êtes vous devenu constructeur bois/charpentier?</p>
            <p>J’ai fait un CAP charpentier dans un CFA proche de chez moi, puis j’ai fait mon apprentissage dans l’entreprise dans laquelle je suis embauché actuellement.</p>

            <p class="question">Quel rôle à jouer le covid dans votre démarche?</p>
            <p>Aucun.
            Mais vivement que cela finisse tout de même.</p>

            <p class="question">Compter vous lancer une entreprise de charpente?</p>
            <p>Non, je ne pense pas. En revanche, je vais certainement me construire un atelier chez moi et pourquoi pas poursuivre sur de l’ébénisterie pour le plaisir. </p>
        </div>
        <div class="void"></div>
    </div>

    <div class="block">
        <div class="void"></div>
        <div class="dialogue">
            <h3>Anicet</h3>
            <p class="question">Pouvez-vous vous présenter succinctement?</p>
            <p>Je m’appelle Anicet, j’ai 38 ans et j’ai deux chats et 3 aquariums. 
            J’ai été conseiller d’orientation dans la fonction publique sur Paris pendant 18 ans. </p>

            <p>Qu'est-ce qui a motivé votre décision de changer de voie? </p>
            <p>J’ai décidé de devenir ébéniste indépendant car je voulais quitter mon emploi et que je travaille le bois depuis longtemps. 
            Cela me semblait la meilleure chose à faire pour sortir de cet emploi qui commençait à me déprimer. J’avais besoin de changer de vie. 
            Et j’ai réussi.</p>

            <p class="question">Comment vous est venu le goût du travail du bois?</p>
            <p>J’aime le bois depuis tout petit. 
            Je suis un bricoleur dans l’âme.</p>

            <p class="question">Depuis combien de temps murissiez vous ce projet?</p>
            <p>Un an avant d’avoir démissionné. 
            Cela fait maintenant trois ans que je suis à mon compte.</p>

            <p class="question">Aviez-vous des craintes de quitter un emploi rémunérateur pour une aventure entrepreneuriale sans garantie?</p>
            <p>J’avais surtout peur de ne pas trouver suffisamment de clients pour vivre convenablement sur Paris. 
            Mais tous s’est bien passé, la demande est tellement forte. Aujourd’hui, j’ai des clients réguliers qui m’assurent une régularité de revenus.</p>

            <p class="question">Comment êtes vous devenu ébéniste?</p>
            <p>Avec l’experience. Je suis autodidacte. Cela fait 10 ans que je bricole presque tout les weekends. 
            Du coup, je n’ai pas le CAP, mais puisque je suis auto-entrepreneur cela ne pose pas de problème.</p>

            <p class="question">Quel rôle à jouer le covid dans votre démarche?</p>
            <p>Il m’a fait perdre de l’argent mais les choses s’améliorent en ce moment.</p>
        </div>
    </div>
    <div class="ending">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque urna dui, efficitur sit amet dolor id, cursus rutrum neque. Duis imperdiet est eu molestie molestie. Sed sed nulla urna. Sed convallis lacus ac tortor varius ullamcorper. Vestibulum ullamcorper, dolor a convallis auctor, sem mauris facilisis dui, non egestas velit ex ac eros. Quisque efficitur mauris vitae ipsum rutrum sollicitudin. Suspendisse tincidunt, ante quis feugiat tempor, augue risus ultrices sem, at vestibulum nibh nisi ut purus. Phasellus sed blandit nulla. Cras efficitur mauris ligula, a sagittis sapien pulvinar et. Ut ac cursus odio. Cras pellentesque turpis eget facilisis cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non cursus leo, in molestie erat.</p>
    </div>
</div>

<div class="footer">
    <p>Lorem ipsum</p>
</div>